<%- include('../partials/header.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        label {
            margin-bottom: 0px !important;
        }

        input[type='text'] {
            padding: 0px 12px;
        }
    </style>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Disparos de Mensagens</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">home</a></li>
                            <li class="breadcrumb-item active">Disparos de Mensagens</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group col-md-6">
                                            <div class="form-group">
                                                <label for="empresa">Empresa</label>
                                                <select name="empresa" id="empresa" onInput='smschange()'
                                                    class="form-control form-control-border border-width-2" />
                                                    <option value="">Selecione</option>
                                                <% empresa.forEach(empresa=> { %>
                                                    <option value="<%=empresa.id %> ">
                                                        <%=empresa.nome %>
                                                    </option>
                                                    <% }) %>
                                                        </select>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group col-md-6">
                                            <div class="form-group">
                                                <label for="tipoApoiador">Tipo Apoiador</label>
                                                <select name="tipoApoiador" id="tipoApoiador" onInput='smschange()'
                                                    class="form-control form-control-border border-width-2" />
                                                    <option value="">Selecione</option>
                                                <% tipo.forEach(tipo=> { %>
                                                    <option value="<%=tipo.id %> ">
                                                        <%=tipo.descricao %>
                                                    </option>
                                                    <% }) %>
                                                        </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="form-group">
                                                <label for="apoiador">Apoiador</label>
                                                <select name="apoiador" id="apoiador" oninput="contact()"
                                                    class="form-control form-control-border border-width-2" />
                                                    <option value="">Selecione</option>
                                                
                                                        </select>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <div class="form-group">
                                                <label for="mensagem">Template de Mensagem</label>
                                                <select name="mensagem" id="mensagem" onchange="msgchange()"
                                                    class="form-control form-control-border border-width-2" />
                                                    <option value="">Selecione</option>
                                                <% mensagem.forEach(mensagem=> { %>
                                                    <option value="<%=mensagem.id %> ">
                                                        <%=mensagem.titulo %>
                                                    </option>
                                                    <% }) %>
                                                        </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <textarea name="displayMsg" id="displayMsg" class="form-group" cols="55" rows="10"></textarea>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="form-group">
                                                <label for="nome">Tempo entre disparos</label>
                                                <select name="timer" id="timer" class="form-control form-control-border border-width-2">
                                                    <option value="">Selecione</option>
                                                    <option value="10000">10 Segundos</option>
                                                    <option value="15000">15 Segundos</option>
                                                    <option value="20000">20 Segundos</option>
                                                    <option value="30000">30 Segundos</option>
                                                </select>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group col-md-6">
                                            <table id="contato" class="display" width="100%" style="white-space: nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Nome</th>
                                                        <th>WhatsApp</th>
                                                        
                                                    </tr>
                                                </thead>
                                                    <tbody></tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Nome</th>
                                                        <th>WhatsApp</th>
                                                        
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <button id="btnStart" class="btn btn-primary" onclick="startDisparos()">Enviar</button>
                                        <button id="btnStop" class="btn btn-danger">Cancelar Envio</button>
                                        <span id="qtda"></span>
                                    </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <%- include('../partials/footer.ejs') %>
<script>
function smschange() {
  $.ajax({
    type: 'post',
    data: {
      EmpresaId: document.getElementById('empresa').value,
      tipoApoiadorId: document.getElementById('tipoApoiador').value,
    },
    url: '/disparos/apoiador',
    dataType: 'json',
    success: function (res) {
      $('#apoiador').empty();
      $('#apoiador').append('<option value="">SELECIONE</option>');
      res.forEach((element) => {
        $('#apoiador').append(
          '<option value="' + element.id + '">' + element.nome + '</option>'
        );
      });
    },
    error: function (res) {
      $('#apoiador').text('Error!');
    },
  });
}

function msgchange() {
  $.ajax({
    type: 'post',
    data: {
      id: document.getElementById('mensagem').value,
    },
    url: '/disparos/mensagens',
    dataType: 'json',
    success: function (res) {
      $('#displayMsg').empty();
      $('#displayMsg').append(JSON.stringify(res[0].body));
    },
    error: function (res) {
      $('#displayMsg').text('Error!');
    },
  });
}

function contact() {
  var table = $('#contato').DataTable({
    ajax: {
      type: 'POST',
      url: '/disparos/contatos',
      data: function (d) {
        d.ApoiadorId = document.getElementById('apoiador').value;
      },
      dataSrc: '',
    },
    columns: [
      { data: 'id' },
      { data: 'nome' },
      { data: 'whatsapp' },
    ],
  });

  table.ajax.reload();
}

function startDisparos(){
    if (document.getElementById('empresa').value == '') {
        Swal.fire(
            'Error!!',
            'Selecione uma Empresa para continuar...',
            'error'
        )
    }
    else if (document.getElementById('tipoApoiador').value == '') {
        Swal.fire(
            'Error!!',
            'Selecione um Tipo de Apoiador para continuar...',
            'error'
        )        
    }
    else if (document.getElementById('apoiador').value == '') {
        Swal.fire(
            'Error!!',
            'Selecione Apoiador para continuar...',
            'error'
        )        
    }
    else if (document.getElementById('mensagem').value == '') {
        Swal.fire(
            'Error!!',
            'Selecione uma Mensagem para continuar...',
            'error'
        )        
    }
    else {
        $.ajax({
    type: 'post',
    // data: {
    //   id: document.getElementById('mensagem').value,
    // },
    url: '/disparos/send',
    dataType: 'json',
    success: function (res) {
        alert(res)
    //   $('#displayMsg').empty();
    //   $('#displayMsg').append(JSON.stringify(res[0].body));
    },
    error: function (res) {
      $('#displayMsg').text('Error!');
    },
  });
    }
}

function confirmDeletar(event, form) {
  event.preventDefault();
  Swal.fire({
    title: 'Você tem certeza?',
    text: 'Você não será capaz de reverter isso!',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Sim, delete!',
  }).then((result) => {
    if (result.isConfirmed) {
      form.submit();
      Swal.fire('Deleted!', 'Your file has been deleted.', 'success');
    }
  });
}
</script>


        